*{
    font-size: 10px;
    margin: 0;
    padding: 0;
}
body{
    background: url(./images/gazon.jpg) no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    font-size: 10rem;
    margin-top: 1rem;
    text-shadow: 2px 2px silver;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}
p{
    text-align: center;
    font-size: 5rem;
    margin-top: 2%;
    font-family: 'Squada One', cursive;
    text-shadow: 2px 2px silver;
}
.red{
    color:rgb(210, 32, 0);
    text-shadow: 2px 2px black;
    font-weight: bold;
    font-size: 5rem;
    text-shadow: 2px 2px silver;
}
h2{
    font-size: 8rem;
    text-align: center;
    margin-top: 1rem;
    text-shadow: 2px 2px silver;
    font-weight: bold;
    font-family: 'Squada One', cursive;
}
.blue{
    font-size: 8rem;
    text-shadow: 2px 2px silver;
    font-weight: bold;
    font-family: 'Squada One', cursive;
    color: blue;
}
.yellow{
    font-size: 8rem;
    text-shadow: 2px 2px silver;
    font-weight: bold;
    font-family: 'Squada One', cursive;
    color: orange;
}
.button{
    text-align: center;
    margin-top: 2rem;
}
.button .p1{
    color: white;
    background: blue;
    border: 2px solid blue;
    border-radius: 2rem;
    width: 10vw; 
    height: 2rem;
}
.button .reset{
    color: white;
    background: grey;
    border: 2px solid grey;
    border-radius: 2rem;
    width: 5vw;
    height: 2rem;
}
.button .p2{
    color: white;
    background: orange;
    border: 2px solid orange;
    border-radius: 2rem;
    width: 10vw;
    height: 2rem; 
}
.winner{
    color:rgb(210, 32, 0);
}